.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/

instructions.txt